@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');

:root{
    --red:#ff3838;
}


*{
    font-family: 'Nunito', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;

}

*::selection{
    background: var(--red);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section {
    padding: 2rem 9%;
}

#btnNew{
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-top: 1rem;
    background: var(--red);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    cursor: pointer;
    font-size: 1.7rem;

}
.btn{
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-top: 1rem;
    background: var(--red);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    cursor: pointer;
    font-size: 1.7rem;
}

body{
    background: #f7f7f7;
    
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

#menu-bar{
    display: none;
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
    border: .1rem;
    border-radius: .3rem;
    padding: .5rem 1.5rem;

}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;

}

header .logo span{
    color: var(--red);
}

header .icons i{
    font-size: 2.5rem;
    color: #fff;
    padding-left: .5rem;
}

header .icons #login-btn{
    margin-left: 2rem;
}

header .icons i:hover{
    color: var(--red);
}

header .logo i{
    padding-right: .5rem;
    color: var(--red);
}

header .navbar a{

    font-size: 2rem;
    margin-left: 15rem;
    color: #fff;
}


header .navbar a:hover{
    color: var(--red);
}



header .search-bar-container{
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: #342D2B;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0,100% 0,100% 0, 0 0);
}

header .search-bar-container.active {
    clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}
header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover {
    color: var(--red);
}

.chooseGameType{
    position: fixed;
    top: -120%;left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.chooseGameType.active{
    top: 0;
}


#btnNew1{
    height: 20%;
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-top: 1rem;
    background: var(--red);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    margin-right: 10px;
}
#btnNew1 a{
    color: #fff;
}
#btnNew2 a{
    color: #fff;
}

#btnNew2{
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-top: 1rem;
    background: var(--red);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    cursor: pointer;
    font-size: 1.7rem;
}
/* login-form */
.login-form-container{
    position: fixed;
    top: -120%;left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    top: 0;
}

.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}

.login-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
}

.login-form-container form label{
    font-size: 2rem;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
    margin-bottom: .5rem;
}

.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a{
    color: var(--red);
}

.login-form-container form p a:hover{
    color: #333;
    text-decoration: underline;

}

.login-form-container #form-close{
    position:absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
    color: var(--red);
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .video-container video{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer-container{
    max-width: 1170px;
    background-color: black;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    color: var(--red);
}

.footer {
   
    background-color: black;
    padding: 30px 0;
    
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}


#user-container{
    float: left;
    margin-top:200px ;
    border: .2rem solid var(--red);
    width: 20%;
    border-radius: 7%;
    height: 400px;
    margin-left: 200px;
}

#user-container h3{
    padding-left: 20px;
    font-size: 18px;

    margin-bottom: 20px;
    text-transform: capitalize;
}

#user-container li{
    padding-left: 10px;
}


#games-container{
    float: right;
    margin-top:200px ;
    border: .2rem solid var(--red);
    width: 20%;
    border-radius: 7%;
    height: 400px;
    margin-right: 200px;
}

#games-container h3{
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

#games-container li{
    padding-left: 10px;
}

#addGames{
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-left: 120px;
    padding-bottom: 40px;
    background: var(--red);
    padding: .2rem 1rem;
    border: .2rem solid var(--red);
    cursor: pointer;
    font-size: 1.7rem;
}

.game-form-container{
    position: fixed;
    top: -120%;left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-form-container.active{
    top: 0;
}

.game-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}

.game-form-container #gameform-close{
    position:absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

.game-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.game-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
}
.game-form-container form .AddGamebtn{
    display: block;
    width: 100%;

    margin-bottom: .5rem;
}

.AddGamebtn{
    height: 20%;
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-top: 1rem;
    background: var(--red);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    margin-right: 10px;
}

/* admin page */

#user-container{
    float: left;
    margin-top:200px ;
    border: .2rem solid var(--red);
    width: 20%;
    border-radius: 7%;
    height: 400px;
    margin-left: 200px;
}

#user-container h3{
    padding-left: 20px;
    font-size: 18px;

    margin-bottom: 20px;
    text-transform: capitalize;
}

#user-container li{
    padding-left: 10px;
}


#staff-container{
    float: right;
    margin-top:200px ;
    border: .2rem solid var(--red);
    width: 20%;
    border-radius: 7%;
    height: 400px;
    margin-right: 200px;
}

#staff-container h3{
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

#staff-container li{
    padding-left: 10px;
}

#addStaff{
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-left: 120px;
    padding-bottom: 40px;
    background: var(--red);
    padding: .2rem 1rem;
    border: .2rem solid var(--red);
    cursor: pointer;
    font-size: 1.7rem;
}

.manage-form-container{
    position: fixed;
    top: -120%;left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.manage-form-container.active{
    top: 0;
}

.manage-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}

.manage-form-container #staffform-close{
    position:absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

.manage-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.manage-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
}
.manage-form-container form .AddStaffbtn{
    display: block;
    width: 100%;

    margin-bottom: .5rem;
}

.AddStaffbtn{
    height: 20%;
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-top: 1rem;
    background: var(--red);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    margin-right: 10px;
}
/* ps4 queries */

.ps4games {
    padding: 5px;
    position: absolute;
    margin-right: 2px;
    margin-top: 120px;
}

.ps4games h2{
    margin-bottom: 30px;
}

.ps4games h1{
    font-size: 20px;
    color: var(--red);
}
.ps4-inside{
    padding: 10px;
}

.ps4-inside h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
    font-weight: bold;
}   

.ps4-inside img{
    height: 250px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}

.ps4-inside img:hover{
    transform: scale(1.1);
}



.ps4games-container {
    padding: 5px;
    margin-left: -50px;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.rating{
    background:teal;
    border-radius: 20px;
    position:absolute;
    padding: 10px 10px;
    color: white;
    margin-top: -80px;
    margin-left: 120px;
    font-weight: bolder;
}

/* pc */

.pcgames {
    position: absolute;
    margin-right: 2px;
    margin-top: 120px;
}

.pcgames h1{
    font-size: 20px;
    color: var(--red);
}
.pc-inside{
    padding: 10px;
}

.pc-inside h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}   

.pc-inside img{
    height: 250px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}

.pc-inside img:hover{
    transform: scale(1.1);
}



.pcgames-container {

    margin-left: -50px;
    margin-top:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

.gameImage-container {

    height: 200px;
    width: 500px;
    margin-left: 150px;
    margin-top:170px;
    display: flex;
    flex-direction: row;

}

.checked {
    color: orange;
  }

.gameImage-container p{
    margin-top: 10px;
    width: 200px;
    height: 140px;
}

#ProductImg {
    width: 200px;
    height: 300px;
    margin-right: 10px;
}

.carTbtn {
    margin-left: 5px;
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-top: 1rem;
    background: var(--red);
    color: #fff;
    padding: .1rem 1rem;
    border: .2rem solid var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    margin-right: 10px;
}

/* edit profile */

.profile-form-container{
    position: fixed;
    top: -120%;left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-form-container.active{
    top: 0;
}

.profile-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}

.profile-form-container #profileform-close{
    position:absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

.profile-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.profile-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
}
.profile-form-container form .AddProfilebtn{
    display: block;
    width: 100%;

    margin-bottom: .5rem;
}

.AddProfilebtn{
    height: 20%;
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-top: 1rem;
    background: var(--red);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    margin-right: 10px;
}

/* shopping cart */
.cart-container {
    margin-top: 100px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}


.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding:10px ;
    color: #fff;
    background-color: var(--red);
    font-weight: normal;

}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: var(--red);
    font-size: 12px;
}

td img{
    width: 100px;
    height: 150px;
   margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 350px;
}
.total-price table td{
    font-weight:bold ;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

#buyGame {
    margin-left: 5px;
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-top: 1rem;
    background: var(--red);
    color: #fff;
    padding: .3rem 1rem;
    border: .2rem solid var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    margin-left: 700px;
    
}


.col{
    margin-bottom: 30px;
}

.col-md3{
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}

.col-secondary{
    font-size: medium;
    margin-bottom: 30px;
    text-transform: lowercase;
}
#delete{
    margin-left: 30px;
}


/* media queries */


@media (max-width:1200px) {

    html{
        font-size: 55%;
    }
}

@media (max-width:800px) {

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}


@media (max-width:991px) {
    #menu-bar{
        display: block;
        padding: 2rem;
    }

    header .navbar {
    
        position: absolute;
        top: 100%; right: 0; left: 0;
        background: #333;
        border-top: .1rem solid rgba(255, 255, 255,.2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1.5rem 0;
        background: #222;
    }

}